<%- include("partials/header.ejs") %>
 <div class="project-card">
      <ul>
    <% projects.forEach(project => { %>
        <li class="project-list">
          <img  class="project-image" src="uploads/<%= project.image %>" alt="">
            <h2 class="project-title"><%= project.title %> </h2>
            <p class="project-body"><%= project.details %> </p>
             <a href="<%= project.link %>" class="project-links"> <%= project.link %></a>
            <div class="links">
                <a class="edit" href="/edit/<%= project.id %>">Edit</a>
                <form action="/delete/<%= project.id %>" method="post">
                    <button class="delete" type="submit">Delete</button>
                </form>
            </div>
            

        </li>
   <% }); %>
</ul>
<div>
 <a class="new" href="/new_project">Add new post</a>
</div>

<%- include("partials/footer.ejs") %>